[Unit]
Description=Servicio para la ejecucion de la copia de seguridad a la maquina remota

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup.sh
User=root
Group=root
